<!-- a scoreboard "row" -->

<article>
	<div class="grp word-grp">
		<span class="level level-{{level}}">
			{{level}}
		</span>
		<span class="push-right-2 word center focus">
			{{word}}
		</span>
		<span class="result-grp right">
			<span class="result correct-result">
				{{metrics.correct}}
			</span>
			<span class="result attempt-result">
				{{metrics.attempts}}
			</span>
		</span>
	</div>
</article>
